
*.pdf
*.jpeg
*.jpeg
*.jpg
*.jpg
*.pyc
*.ipynb
*.json
*.pbtxt
*.zip
*.dat
*.csv
*.doc
demo.py
Facerecogniton/level1/Face_recognition/Machinelearning/Classifcation_Naivebayes.py
Facerecogniton/level1/Face_recognition/Machinelearning/Classification_decisiontree.py
Facerecogniton/level1/Face_recognition/output/raw_KTP_test.txt
Facerecogniton/level1/Face_recognition/Machinelearning/SVM.py
Facerecogniton/level1/Face_recognition/Machinelearning/LDA_feature.py
Facerecogniton/level1/Face_recognition/output/raw_selfie_test.txt
Facerecogniton/level1/Face_recognition/pythoncode/68similarity_dataCSV-modified.py
Facerecogniton/level1/Face_recognition/pythoncode/68similarity_dataCSV.py
Facerecogniton/level1/Face_recognition/pythoncode/facerec_withcropping.py
Facerecogniton/level2/images for documentation/contour1.png
Facerecogniton/level2/images for documentation/contour2.png
Facerecogniton/level2/inputdata/29/0104deb2171af92ac10de8e330889968699fc86b.jpeg.filepart
Facerecogniton/level2/OCR.docx
Facerecogniton/level2/pythoncodes/194facerec_withcropping.py
Facerecogniton/level2/pythoncodes/194facerec_withcropping_modified.py
Facerecogniton/level2/pythoncodes/output/194_KTP_crop.txt
ktpocr/__init__.py
Facerecogniton/level2/pythoncodes/output/194_selfie_crop.txt
ktpocr/dataset/ktp.png
ktpocr/dataset/ktp1.png
ktpocr/dataset/ktp2.png
ktpocr/dataset/ktp3.png
ktpocr/dataset/ktp4.png
ktpocr/dataset/ktp5.png
ktpocr/dataset/ktp6.png
ktpocr/dataset/ktp_test.png
ktpocr/dataset/test10.png
ktpocr/form.py
ktpocr/extractor.py
model/checkpoint
model/model.ckpt.data-00000-of-00001
model/frozen_inference_graph.pb
model/model.ckpt.index
model/model.ckpt.meta
model/pipeline.config
model/saved_model/saved_model.pb
ocr.py
req.py
scores.txt
test_images/image1.png
test_images/place_holder
utils/__init__.py
threshold.py
utils/label_map_util.py
utils/visualization_utils.py
